@model List<ResultPropertyDto>
@{
    string color = "";
}

<section class="ftco-section bg-light">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <span class="subheading"></span>
                <h2 class="mb-4">Son Eklenen Emlak İlanları</h2>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            @foreach(var item in Model)
            {
                if (item.Name == "Satılık")
                {
                    color = "status sale";
                }
                if (item.Name == "Kiralık")
                {
                    color = "status rent";
                }
                <div class="col-sm col-md-6 col-lg ftco-animate">
                    <div class="properties">
                        <a href="#" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url(@item.ImageUrl);">
                            <div class="icon d-flex justify-content-center align-items-center">
                                <span class="icon-search2"></span>
                            </div>
                        </a>
                        <div class="text p-3">
                            <span class="@color">@item.Name</span>
                            <div class="d-flex">
                                <div class="one">
                                    <h3><a href="#">@item.PropertyTitle</a></h3>
                                    <p>@item.TypeName</p>
                                </div>
                                <div class="two">
                                    <span class="price">₺@item.Price</span>
                                </div>
                            </div>
                            <hr>
                            <p class="bottom-area d-flex">
                                <span><i class="flaticon-selection"></i> @item.SquareMeter</span>
                                <span class="ml-auto"><i class="flaticon-bathtub"></i> @item.BathRooms</span>
                                <span><i class="flaticon-bed"></i> @item.BedRooms</span>
                            </p>
                        </div>
                    </div>
                </div>
            }
            
            
        </div>
    </div>
</section>