@model ResultPropertyDto
@{
    Layout = null;
}



<!DOCTYPE html>
<html lang="en">
@await Component.InvokeAsync("_HeadComponentPartial")

<body>

    @await Component.InvokeAsync("_NavbarComponentPartial")
    <!-- END nav -->
    @await Component.InvokeAsync("_SliderComponentPartial")

    <section class="ftco-search">
        <div class="container">
            <div class="row">
                <div class="col-md-12 search-wrap">
                   
                    <form asp-action="Index" asp-controller="Default" class="search-property">
                        <div class="row">
                            
                            <div class="col-md align-items-end">
                                <div class="form-group">
                                    <label for="#">Lokasyon Seç</label>
                                    <div class="form-field">
                                        <div class="select-wrap">
                                            <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                            <select name="LocationId" id="LocationId" class="form-control">
                                                <option selected disabled="">Seçin</option>
                                                @foreach (var item in ViewBag.location)
                                                {
                                                    <option value="@item.Id">@item.LocationName</option>

                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md align-items-end">
                                <div class="form-group">
                                    <label for="#">Emlak Türü Seç</label>
                                    <div class="form-field">
                                        <div class="select-wrap">
                                            <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                            <select name="typeId" id="Id" class="form-control">
                                                <option selected disabled="">Seçin</option>
                                                @foreach (var item in ViewBag.type)
                                                {
                                                    <option value="@item.Id">@item.TypeName</option>

                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md align-items-end">
                                <div class="form-group">
                                    <label for="#">Emlak Durumu Seç</label>
                                    <div class="form-field">
                                        <div class="select-wrap">
                                            <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                            <select name="statusId" id="status" class="form-control">
                                                <option selected disabled="">Seçin</option>
                                                @foreach (var item in ViewBag.status)
                                                {
                                                    <option value="@item.PropertyStatus">@item.Name</option>

                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md align-self-end">
                                <div class="form-group">
                                    <div class="form-field">
                                        <input type="submit" value="İlan Ara" class="form-control btn btn-primary">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    @await Component.InvokeAsync("_FeatureComponentPartial")

    @await Component.InvokeAsync("_Last4PropertyComponentPartial")

    @await Component.InvokeAsync("_StatisticComponentPartial")

    @await Component.InvokeAsync("_TestimonialComponentPartial")

    @await Component.InvokeAsync("_SubscribeComponentPartial")

    @await Component.InvokeAsync("_FooterComponentPartial")

    @await Component.InvokeAsync("_ScriptComponentPartial")
   
</body>
</html>
