
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}



<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <div class="card card-widget">
                <div class="card-body gradient-3">
                    <div class="media">
                        <span class="card-widget__icon"><i class="icon-home"></i></span>
                        <div class="media-body">
                            <h2 class="card-widget__title">@ViewBag.movieCount</h2>
                            <h5 class="card-widget__subtitle">Toplam Film </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="card card-widget">
                <div class="card-body gradient-4">
                    <div class="media">
                        <span class="card-widget__icon"><i class="icon-tag"></i></span>
                        <div class="media-body">
                            <h2 class="card-widget__title">@ViewBag.yearCount</h2>
                            <h5 class="card-widget__subtitle">2023 Film Sayısı</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="card card-widget">
                <div class="card-body gradient-4">
                    <div class="media">
                        <span class="card-widget__icon"><i class="icon-emotsmile"></i></span>
                        <div class="media-body">
                            <h2 class="card-widget__title">@ViewBag.maxRating</h2>
                            <h5 class="card-widget__subtitle">Max Imdb Puanı</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="card card-widget">
                <div class="card-body gradient-9">
                    <div class="media">
                        <span class="card-widget__icon"><i class="icon-ghost"></i></span>
                        <div class="media-body">
                            <h2 class="card-widget__title">@ViewBag.minRating</h2>
                            <h5 class="card-widget__subtitle">Min Imdb Puanı</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <div class="text-center">
                        <span class="display-5"><i class="icon-diamond gradient-4-text"></i></span>
                        <h2 class="mt-3">@ViewBag.dramaCount</h2>
                        <p>Drama türündeki film sayısı</p><a href="javascript:void()" class="btn gradient-3 btn-lg border-0 btn-rounded px-5">
                            Detaylar
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <div class="text-center">
                        <span class="display-5"><i class="icon-diamond gradient-4-text"></i></span>
                        <h2 class="mt-3">@ViewBag.actionCount</h2>
                        <p>Aksiyon türündeki film sayısı</p>
                        <a href="javascript:void()" class="btn gradient-4 btn-lg border-0 btn-rounded px-5">
                            Detaylar
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="card">
                <div class="card-body">
                    <div class="text-center">
                        <span class="display-5"><i class="icon-diamond gradient-4-text"></i></span>
                        <h2 class="mt-3">@ViewBag.animationCount</h2>
                        <p>Animasyon türündeki film sayısı</p><a href="javascript:void()" class="btn gradient-4 btn-lg border-0 btn-rounded px-5">
                            Detaylar
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="card">
                <div class="card-body">
                    <div class="text-center">
                        <span class="display-5"><i class="icon-diamond gradient-4-text"></i></span>
                        <h2 class="mt-3">@ViewBag.comedyCount</h2>
                        <p>Komedi türündeki film sayısı</p><a href="javascript:void()" class="btn gradient-9 btn-lg border-0 btn-rounded px-5">
                            Detaylar
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-4">
            <div class="card">
                <div class="stat-widget-one">
                    <div class="stat-content">
                        <div class="stat-text">Ortalama Gişe Hasılat</div>
                        <div class="stat-digit gradient-3-text"><i class="fa fa-usd"></i>8545000</div>
                    </div>
                    <div class="progress mb-3">
                        <div class="progress-bar gradient-3" style="width: 50%;" role="progressbar">
                            <span class="sr-only">60% Complete</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card">
                <div class="stat-widget-one">
                    <div class="stat-content">
                        <div class="stat-text">Ortalama İzleyici Sayısıs</div>
                        <div class="stat-digit gradient-4-text"><i class="fa fa-usd"></i>375800</div>
                    </div>
                    <div class="progress mb-3">
                        <div class="progress-bar gradient-4" style="width: 40%;" role="progressbar">
                            <span class="sr-only">40% Complete</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card">
                <div class="stat-widget-one">
                    <div class="stat-content">
                        <div class="stat-text">Ortalama Imdb Puanı</div>
                        <div class="stat-digit gradient-4-text"><i class="fa fa-usd"></i> 6,8</div>
                    </div>
                    <div class="progress mb-3">
                        <div class="progress-bar gradient-4" style="width: 15%;" role="progressbar">
                            <span class="sr-only">15% Complete</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    

</div>